<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Lista de Fornecedores</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"></link>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<h1>Lista de Fornecedores</h1>
<table class="table table-sm table-striped table-hover table-bordered">
    <thead>
    <tr>
        <th>Nome</th>
        <th>Rua<br/>Bairro</th>
        <th>Cidade<br/>Estado</th>
        <th>Telefone<br/>E-mail</th>
        <th>Inform Adcionais</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="fornecedor : ${fornecedores}">
        <td th:utext="${fornecedor.nome}"></td>
        <td th:utext="${fornecedor.endereco.rua+'&lt;br /&gt;'+fornecedor.endereco.bairro}"></td>
        <td th:utext="${fornecedor.endereco.cidade+'&lt;br /&gt;'+fornecedor.endereco.estado}"></td>
        <td th:utext="${fornecedor.telefone+'&lt;br /&gt;'+fornecedor.email}"></td>
        <td th:utext="${fornecedor.info}"></td>


    </tr>
    </tbody>
</table>

</body>
</html>