<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Movimento do Caixa</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"></link>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<h1>Movimento do Caixa</h1>
<table class="table table-sm table-striped table-hover table-bordered">
    <thead>
    <tr>
        <th>Data Recebimento</th>
        <th>Cliente</th>
        <th>Forma Pagamento<br/>Tipo Despesa</th>
        <th>Valor</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="caixa : ${caixas}">
        <td th:utext="${caixa.caixa.data }"></td>
        <td th:utext="${caixa.caixa.cliente.nome }"></td>
        <td th:utext="${caixa.caixa.formaPagamento.descricao+'&lt;br /&gt;'+caixa.caixa.tipoDespesa.descricao }"></td>
        <td th:utext="${caixa.caixa.valor }"></td>
    </tr>
    </tbody>
</table>
<div class="col-xs-offset-9 col-xs-3">
    <table class="table table-sm table-striped table-hover table-bordered">
        <thead>
        <tr>
            <th>Total Entrada</th>
            <th>Total Saída</th>

        </tr>
        </thead>
        <tbody>
        <tr>
            <td  th:text="${teste.entrada}"></td>
            <td th:text="${teste.saida}"></td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>