<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Pedidos de Venda Emitidos e Rentabilidade</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"></link>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<h1>Pedidos de Venda Emitidos e Rentabilidade</h1>
<table class="table table-sm table-striped table-hover table-bordered">
    <thead>
    <tr>
        <th>Data de Emissão<br/>Cliente</th>
        <th>Observações</th>
        <th>Vr Tot Venda</th>
        <th>Vr Tot Custo<br/>Margem%</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="pedido : ${pedidos}">
        <td th:utext="${pedido.pedido.data +'&lt;br /&gt;'+pedido.pedido.cliente.nome}"></td>
        <td th:utext="${pedido.pedido.info }"></td>
        <td th:utext="${pedido.pedido.valorTotal }"></td>
        <td th:utext="${'R$ '+pedido.valorCusto +'&lt;br /&gt;'+pedido.margemPedido}"></td>


    </tr>
    </tbody>
</table>
</body>
</html>